[submodule "totallylazy"]
	path = totallylazy
	url = git@github.com:bodar/totallylazy.git
[submodule "yadic.java"]
	path = yadic.java
	url = git@github.com:bodar/yadic.java.git
[submodule "utterlyidle"]
	path = utterlyidle
	url = git@github.com:bodar/utterlyidle.git
[submodule "lazyrecords"]
	path = lazyrecords
	url = git@github.com:bodar/lazyrecords.git
[submodule "shavenmaven"]
	path = shavenmaven
	url = git@github.com:bodar/shavenmaven.git
[submodule "jcompilo"]
	path = jcompilo
	url = git@github.com:bodar/jcompilo.git
